<div class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->

  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="m-0">Etiquettes prénoms</h2>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>Remplir le formulaire</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">

        <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="form" (ngSubmit)="generate()">
          <mat-radio-group formControlName="layout" class="mb-8">
            <mat-radio-button *ngFor="let l of layouts" [value]="l.data">{{ l.label }}</mat-radio-button>
          </mat-radio-group>
          <mat-form-field>
            <mat-select placeholder="Alignment" formControlName="align">
              <mat-option *ngFor="let align of alignments" [value]="align">
                {{ align}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button mat-raised-button color="accent">Generate</button>
        </form>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
