<div class="page-layout carded left-sidebar inner-scroll">
  <div class="top-bg accent"></div>
  <fuse-sidebar class="sidebar" position="left" lockedOpen="gt-md">
    <app-classes-students-sidebar></app-classes-students-sidebar>
  </fuse-sidebar>
  <div class="center">
    <div class="header" fxLayout="row" fxLayoutAlign="start center">

      <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

          <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                  (click)="toggleSidebar('mail-ngrx-main-sidebar')">
              <mat-icon>menu</mat-icon>
          </button>

          <div class="search" flex fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>search</mat-icon>
              <input [formControl]="searchInput" [placeholder]="'classesStudents.search.placeholder' | translate" fxFlex>
          </div>
      </div>
  </div>
    <div class="content-card">
      <div class="toolbar px-24 py-8">
        <div class="student-selection">
          <mat-checkbox [checked]="hasSelectedStudents" [indeterminate]="isIndeterminate" (click)="toggleSelectAll($event)"></mat-checkbox>
        </div>
        <div class="toolbar-separator" *ngIf="hasSelectedStudents"></div>
        <button mat-icon-button (click)="deleteSelectedStudents()" *ngIf="hasSelectedStudents">
            <mat-icon class="secondary-text">delete</mat-icon>
        </button>
        <button mat-icon-button (click)="printSelectedStudents()" *ngIf="hasSelectedStudents">
            <mat-icon class="secondary-text">print</mat-icon>
        </button>
      </div>
      <div class="content" fxLayout="row">
        <app-classes-students-list fusePerfectScrollbar fxFlex></app-classes-students-list>
        <app-classes-students-details fusePerfectScrollbar fxFlex></app-classes-students-details>
      </div>
    </div>
  </div>
</div>
