<div class="page-layout carded fullwidth">
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="m-0">Pyramide des ages</h2>
    </div>
    <div class="content-card">
      <div class="toolbar px-24 py-8"></div>
      <div class="content p-24">
        <form (ngSubmit)="generate()">
          <button mat-raised-button color="accent">Generate</button>
        </form>
      </div>
    </div>
  </div>
</div>
