:host {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0;
  border-right: 1px solid red;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .no-message-text {
    font-size: 24px;
    font-weight: 300;
  }

  .student-list {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
