<div class="page-layout carded fullwidth" fusePerfectScrollbar>
  <div class="top-bg accent"></div>
  <div class="center">
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="m-0">Grille d'évaluation</h2>
    </div>
    <div class="content-card">
      <div class="toolbar px-24 py-8"></div>
      <div class="content p-24">
        <form [formGroup]="form" (ngSubmit)="generate()" fxLayout="column" fxLayoutAlign="start start">
          <mat-radio-group class="pb-8" formControlName="layout">
            <mat-radio-button *ngFor="let layout of layoutOptions$ | async" [value]="layout.data">{{ layout.label }}</mat-radio-button>
          </mat-radio-group>
          <button mat-raised-button color="accent">Generate</button>
        </form>
      </div>
    </div>
  </div>
</div>