<div fxLayout="row" fxLayoutAlign="start center">
  <mat-checkbox [checked]="selected" (change)="onSelectChange()" (click)="$event.stopPropagation();"></mat-checkbox>
  <div class="ml-16" fxLayout="row">
    <app-student-picture class="avatar mr-16" [studentId]="item.id" size="40"></app-student-picture>
    <div>
      <div class="fullname text-truncate">{{ [item.firstname, item.lastname] | fullname:'firstname_lastname':true }}</div>
      <div>{{ item.sex | sex }}</div>
    </div>
  </div>

</div>