#firstname-label {
.student-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .student-item {
    flex: 1 0 33%;
  }
}

.layout-list {
    
  label.mat-radio-label {
    display: flex !important;
    flex-direction: column-reverse !important;
  }

}
}
