<div id="firstname-label" class="page-layout carded fullwidth">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->

  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <h2 class="m-0">{{ 'firstnameLabel.title' | translate }}</h2>
    </div>
    <!-- / CONTENT HEADER -->
    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>{{ 'firstnameLabel.description' | translate }}</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">

        <form fxLayout="column" fxLayoutAlign="start start" [formGroup]="form" (ngSubmit)="generate()">
          <h2>{{ 'firstnameLabel.form.fields.layout.title' | translate }}</h2>
          <div class="layout-list">
            <mat-radio-group formControlName="layout" class="mb-8">
              <mat-radio-button *ngFor="let layout of layouts$ | async" [value]="layout.id">
                <span fxLayout="column" fxLayoutAlign="start center">
                  <span><img [attr.src]="layout.imageUrl" [attr.alt]="layout.title" /></span>
                  <span>{{ layout.title }}</span>
                </span>
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <h2>{{ 'firstnameLabel.form.field.students.title' | translate }}</h2>
          <div class="hint-text pb-8">{{ 'firstnameLabel.form.fields.students.hint' | translate }}</div>
          <mat-chip-list [compareWith]="compareGrades" [multiple]="true" class="mb-8">
            <mat-chip *ngFor="let grade of grades$ | async" [selected]="grade.selected" (click)="toggleSelectGrade(grade)">{{ grade.title }}</mat-chip>
          </mat-chip-list>
          <div class="student-list mb-8">
            <div class="student-item" *ngFor="let ctrl of studentControls.controls; let index = index">
              <mat-checkbox [formControl]="ctrl">{{ students[index].firstname + ' ' + students[index].lastname }}</mat-checkbox>
            </div>
          </div>
          <div class="mt-16">
            <button mat-raised-button color="accent" [disabled]="form.invalid">{{ 'commons.buttons.generate' |
              translate }}</button>
          </div>
        </form>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
