<div fxLayout="column">
  <mat-slide-toggle [formControl]="multiGradeCtrl">Multi grade</mat-slide-toggle>
  <mat-form-field *ngIf="!multiGradeCtrl.value">
    <mat-select [formControl]="gradeCtrl" placeholder="Grade" required>
      <mat-option *ngFor="let item of grades$ | async" [value]="item.id">
        {{item.title}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="multiGradeCtrl.value">
      <mat-select [formControl]="gradesCtrl" placeholder="Grade" multiple required>
        <mat-option *ngFor="let item of grades$ | async" [value]="item.id">
          {{item.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="invalid">Save</button>
</div>