<div class="actions">
  <button mat-icon-button>
    <mat-icon [matMenuTriggerFor]="studentMenu">
      more_vert
    </mat-icon>
  </button>
  <mat-menu #studentMenu="matMenu">
    <button mat-menu-item (click)="action.emit({type: 'update', item: student})">{{ 'commons.buttons.update' |
      translate }}</button>
    <button mat-menu-item (click)="action.emit({type: 'delete', item: student})">{{ 'commons.buttons.delete' |
      translate }}</button>
  </mat-menu>
</div>
<div class="p-24" fxFlex>
  <div class="mb-24" fxLayout="row" fxLayoutAlign="center start">
    <app-student-picture [url]="student.pictureUrl" size="150"></app-student-picture>
  </div>
  <div fxLayout="row">
    <div fxFlex class="info">
      <div class="label">{{ 'classesStudents.details.labels.firstname' | translate }}</div>
      <div>{{ student.firstname }}</div>
    </div>
    <div fxFlex class="info">
      <div class="label">{{ 'classesStudents.details.labels.lastname' | translate }}</div>
      <div>{{ student.lastname }}</div>
    </div>
  </div>
  <div *ngIf="student.shortname" class="info">
    <div class="label">{{ 'classesStudents.details.labels.shortname' | translate }}</div>
    <div>{{ student.shortname }}</div>
  </div>

  <div *ngIf="student.birthday" class="info">
    <div class="label">{{ 'classesStudents.details.labels.birthday' | translate }}</div>
    <div>{{ student.birthday | date }}</div>
  </div>
</div>
<div *ngIf="student.notes">
  <mat-divider></mat-divider>
  <div class="p-24">
    {{ student.notes }}
  </div>
</div>
