:host {
  display: flex;
  flex: 1;
  position: relative;
width: 100%;

  .actions {
    position: absolute;
    right: 0;
    top: 0;
  }

  .info {
    margin-bottom: 16px;
    .label {
      font-weight: 500;
    }
  }
}